* {
  line-height: 1.1;
  box-sizing: border-box;
  
}

body {
  margin: 0;
}

.container {
  display: grid;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "aside"
    "footer";
  grid-template-rows: 100px 50px 1fr 50px 70px;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  height: 100vh;
}


header, nav, main, aside, footer {
  padding: 15px;
  min-height: 40px;
}

header, footer {
  font-size: 2rem;
  text-align: center;
}

header {
  grid-area: header;
  background-color: chartreuse;
}

nav, aside {
  background-color: darkgray;
  color: white
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
  background-color: aquamarine;
    text-align: center;
}

aside {
  grid-area: aside;
}

footer {
  grid-area: footer;
  background-color: black;
  color: white;
}

@media (min-width: 768px) {
  .container {
    grid-template-areas:
      "header header header"
      "nav main aside"
      "footer footer footer";
    grid-template-rows: 62px auto 62px;
    grid-template-columns: 150px 1fr 150px;
    grid-gap: 10px;
  }
}